@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  /*основной цвет текста*/
  --text-color: #757575;
  /*вторичный цвет текста*/
  --accent-color: #2196f3;
  /*цвет акцент*/
  --black-color: #000000;
  /*цвет черный*/
  --white-color: #ffffff;
  /*цвет белый*/
  --footer-bg-color: #2f303a;
  /*цвет фона футера*/
  --bg-decorations: #f5f4fa;
  /*цвет фона иконок*/
  --icon-color: #afb1b8;
  /*цвет иконок*/
  --transition-functions: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*плавный переход*/
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section {
  padding: 94px 0;
}

.spec-section {
  padding-top: 94px;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-p {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-section {
  display: flex;
  align-items: center;
}

.nav-section {
  display: flex;
  align-items: center;
}

/*site-nav*/
.site-nav {
  display: flex;
}

.site-nav a {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color var(--transition-functions);
}

.site-nav a:hover, .site-nav a:focus {
  color: var(--accent-color);
  outline: none;
}

.site-nav .nav-item:not(:last-child) {
  margin-right: 50px;
}

a.current {
  position: relative;
  color: var(--accent-color);
}

a.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/*auth-nav*/
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav a {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color var(--transition-functions);
}

.auth-nav a:hover, .auth-nav a:focus {
  color: var(--accent-color);
  outline: none;
}

.auth-item + .auth-item {
  margin-left: 50px;
}

.auth-icon {
  margin-right: 10px;
  fill: currentColor;
}

.logo-header {
  margin-right: 94px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1600px;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  margin-bottom: 30px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.hero-button {
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  min-width: 200px;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color var(--transition-functions);
}

.hero-button:hover, .hero-button:focus {
  background-color: #188ce8;
}

.section-features {
  display: flex;
}

.features-item {
  width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-decorations {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--bg-decorations);
}

.features-icon {
  width: 70px;
  height: 70px;
}

.section-title-features {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.work-list {
  display: flex;
}

.work-item {
  position: relative;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-description {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team-section {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.description-team {
  text-align: center;
  padding: 30px 32px;
}

.section-title-team {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.section-p-team {
  margin-bottom: 16px;
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.team-social-list {
  display: flex;
  justify-content: space-between;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color var(--transition-functions);
}

.team-social-link:hover, .team-social-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.team-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill var(--transition-functions);
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: var(--white-color);
  outline: none;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-decorations {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border var(--transition-functions);
}

.clients-decorations:hover, .clients-decorations:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  outline: none;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  transition: fill var(--transition-functions);
}

.clients-decorations:hover .clients-icon,
.clients-decorations:focus .clients-icon {
  fill: var(--accent-color);
  outline: none;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.contacts-footer {
  margin-right: 70px;
}

.address {
  margin-bottom: 9px;
  color: var(--white-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-list a {
  color: white;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color var(--transition-functions);
}

.footer-list a:hover, .footer-list a:focus {
  color: var(--accent-color);
  outline: none;
}

.contact-item:not(:last-child) {
  margin-bottom: 9px;
}

/* JOIN */
.join {
  width: 206px;
}

.join-p {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.join-social-list {
  display: flex;
  justify-content: center;
  width: 206px;
}

.join-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-functions);
}

.join-social-link:hover, .join-social-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.join-social-item:not(:last-child) {
  margin-right: 10px;
}

.join-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.subscribe {
  margin-left: auto;
}

.subscribe-p {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background-color: var(--footer-bg-color);
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  transition: border var(--transition-functions);
}

.subscribe-input:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  outline: none;
}

.subscribe-input::placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: flex;
  justify-content: space-between;
  padding: 10px 29px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition-functions);
}

.subscribe-button:hover, .subscribe-button:focus {
  background-color: #188ce8;
}

.subscribe-icon {
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-functions), visibility var(--transition-functions);
  z-index: 100;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--white-color);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--transition-functions);
}

.close-button:focus {
  outline: none;
}

.close-button-icon {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.close-button:hover .close-button-icon,
.close-button:focus .close-button-icon {
  fill: var(--accent-color);
}

.modal-p {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-form {
  width: 448px;
}

.modal-form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal-form-label-text {
  display: block;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-functions);
}

.modal-form-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-form-thumb {
  position: relative;
  display: block;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--primary-text-color);
  transition: fill var(--transition-functions);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border var(--transition-functions);
}

.modal-form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-form-agree {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.icon-check {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--transition-functions);
}

.modal-form-checkbox:checked + .icon-check {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
}

.modal-form-checkbox:focus + .icon-check {
  border: 2px solid var(--accent-color);
  border-radius: 4px;
}

.modal-form-agree-lihk {
  color: var(--accent-color);
}

.modal-form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition-functions);
}

.modal-form-button:hover, .modal-form-button:focus {
  background-color: #188ce8;
}

/*FILTER BUTTON*/
.filter-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button-item {
  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: var(--bg-decorations);
  border-color: transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color var(--transition-functions), color var(--transition-functions), box-shadow var(--transition-functions);
}

.filter-button-item:hover, .filter-button-item:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.active-button {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/*EXAMPLES*/
.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.examples-list a {
  text-decoration: none;
}

.examples-list h2 {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-list p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.examples-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.examples-link {
  display: block;
  transition: box-shadow var(--transition-functions);
}

.examples-link:hover, .examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.examples-demonstration {
  position: relative;
  overflow: hidden;
}

.description-img {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-functions);
  overflow: auto;
}

.overlay .overlay-text {
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
}

.examples-link:hover .overlay,
.examples-link:focus .overlay {
  opacity: 1;
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */